<form [formGroup]="form" (ngSubmit)="submit()">

	<div id="panel" class="content" @transition>

		<h1 mat-dialog-title class="title">Create Contact</h1>
		<h2 class="subtitle">Adds a new contact to your account</h2>

		<div mat-dialog-content fxLayout="row">
			<div fxFlex fxLayout="column" fxLayoutGap="25px">

				<mat-form-field hintLabel="Max 35 characters" appearance="fill">
					<mat-label>Label</mat-label>
					<input matInput #label maxlength="35" placeholder="John Citizen" formControlName="labelFormControl">
					<mat-hint align="end">{{label.value?.length || 0}}/35</mat-hint>
					<mat-error *ngIf="form.controls.labelFormControl.hasError('required')">
						Label is <strong>required</strong>
					</mat-error>
				</mat-form-field>

				<mat-form-field hintLabel="Max 98 characters" appearance="fill">
					<mat-label>Address</mat-label>
					<input matInput #address maxlength="98" placeholder="CCX Address" formControlName="addressFormControl">
					<mat-hint align="end">{{address.value?.length || 0}}/98</mat-hint>
					<mat-error *ngIf="form.controls.addressFormControl.hasError('required')">
						Address selection is <strong>required</strong>
					</mat-error>
					<mat-error *ngIf="form.controls.addressFormControl.hasError('minlength')">
						Address must be <strong>98 characters</strong>
					</mat-error>
				</mat-form-field>

				<mat-form-field hintLabel="Max 35 characters" appearance="fill">
					<mat-label>Payment ID</mat-label>
					<input matInput #paymentid maxlength="35" placeholder="Optional" formControlName="paymentidFormControl">
					<mat-hint align="end">{{paymentid.value?.length || 0}}/35</mat-hint>
					<mat-error *ngIf="form.controls.paymentidFormControl.hasError('minlength')">
						Address must be <strong>35 characters</strong>
					</mat-error>
				</mat-form-field>

			</div>
		</div>

		<div class="status" fxLayout="row">
			<div fxFlex class="progress" *ngIf="getDataService().isFormLoading"><mat-progress-bar mode="query"></mat-progress-bar></div>
			<div fxFlex class="error" *ngIf="getDataService().error">{{ getDataService().error }}</div>
			<div fxFlex class="success" *ngIf="getDataService().success">{{ getDataService().success }}</div>
		</div>

		<div class="actions" fxLayout="row" fxLayoutGap="25px">
			<button mat-stroked-button color="warn" fxFlex="50" type="button" (click)="close()">Cancel</button>
			<button mat-stroked-button color="primary" fxFlex="50" type="submit" [disabled]="!form.valid">Add Contact</button>
		</div>

	</div>

</form>
