<mat-toolbar color="primary">
	<img src="./assets/images/logo-sm.png" class="logo">
	<span class="title">{{ 'PAGES.HEADER.TITLE' | translate }}</span>
	<span class="border"></span>
	<button mat-button class="navlink" routerLink="/dashboard" routerLinkActive="active">{{ 'PAGES.HEADER.DASHBOARD' | translate }}</button>
	<button mat-button class="navlink" routerLink="/transfer" routerLinkActive="active">{{ 'PAGES.HEADER.TRANSFER' | translate }}</button>
	<button mat-button class="navlink" routerLink="/activity" routerLinkActive="active">{{ 'PAGES.HEADER.ACTIVITY' | translate }}</button>
	<span class="spacer"></span>
	<button mat-icon-button aria-hidden="false" aria-label="Contacts" routerLink="/contacts" routerLinkActive="active">
		<mat-icon>contacts</mat-icon>
	</button>
	<button mat-icon-button aria-hidden="false" aria-label="Messaging" routerLink="/message" routerLinkActive="active">
		<mat-icon>message</mat-icon>
	</button>
	<button mat-icon-button aria-hidden="false" aria-label="Settings" routerLink="/settings" routerLinkActive="active">
		<mat-icon>settings</mat-icon>
	</button>
	<button mat-icon-button aria-hidden="false" aria-label="Lock" routerLink="/lock" routerLinkActive="active">
		<mat-icon>lock</mat-icon>
	</button>
	<span class="border"></span>
	<button mat-icon-button aria-hidden="false" aria-label="Minimize" (click)="minimize()">
		<mat-icon>minimize</mat-icon>
	</button>
	<button mat-icon-button aria-hidden="false" aria-label="Maximize" (click)="fullScreen()">
		<mat-icon *ngIf="!isFullScreen">fullscreen</mat-icon>
		<mat-icon *ngIf="isFullScreen">fullscreen_exit</mat-icon>
	</button>
	<button mat-icon-button aria-hidden="false" aria-label="Close" (click)="logout()">
		<mat-icon>close</mat-icon>
	</button>
</mat-toolbar>