.mat-toolbar {
	-webkit-app-region: drag;
	height: 85px;
	background: rgba(0, 0, 0, 0.2);
	border-bottom: 0.8px solid rgba(255, 255, 255, 0.08) !important;
	.title {
   		font-size: 1.2rem;
    	color: orange;
		text-transform: capitalize;
		margin-left: 25px;
		margin-right: 15px;
	}

	.logo {
		padding-left: 5px;
	}

	.navlink {
		-webkit-app-region: no-drag;
		-webkit-user-select: none;
		user-select: none;
		color: #aaa;
		padding: 5px 20px 5px 20px;
	}

	.active {
		color: #fff;
	}

	.mat-button {
		font-size: 0.9rem;
		-webkit-app-region: no-drag;
		-webkit-user-select: none;
		user-select: none;
		text-transform: uppercase;
	}

	.mat-icon-button {
		-webkit-app-region: no-drag;
		-webkit-user-select: none;
		user-select: none;
		margin-left: 5px;
		margin-right: 5px;
    	line-height: 1;
		color: #e9e9e9;
		transform: scale(0.9);
		.mat-icon {
			margin-left: 1px;
		}
	}
  
  .mat-icon-button.active {
		color: orange;
  }
	.border {
		height: 70%;
		border-right: 0.8px solid rgba(white, 0.1);
		margin-left: 10px;
		margin-right: 10px;
	}
		
	.spacer {
		flex: auto;
	}

}