@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
	& {
	  font-size: $min-font-size;
	  @media screen and (min-width: $min-vw) {
		font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
	  }
	  @media screen and (min-width: $max-vw) {
		font-size: $max-font-size;
	  }
	}
  }
}

$min_width: 500px;
$max_width: 1920px;
$title_min_font: 11px;
$title_max_font: 28px;
$min_font: 11px;
$max_font: 24px;

.mat-toolbar {
	-webkit-app-region: drag;
	height: 90px;
	position: absolute;
	background: rgba(0, 0, 0, 0.2);
	border-bottom: 0.8px solid rgba(255, 255, 255, 0.08) !important;
	padding-left: 25px;
	padding-right: 25px;

	.logo {
		margin-right: 25px;
	}

	.title {
		@include fluid-type($min_width, $max_width, $title_min_font, $title_max_font);
		text-transform: capitalize;
	}

	.navlink {
		-webkit-app-region: no-drag;
		-webkit-user-select: none;
		user-select: none;
		margin-left: 10px;
		margin-right: 10px;
		color: #aaa;
	}

	.active {
		color: #fff;
	}

	.mat-button {
		@include fluid-type($min_width, $max_width, $min_font, $max_font);
		-webkit-app-region: no-drag;
		-webkit-user-select: none;
		user-select: none;
		text-transform: uppercase;
	}

	.mat-icon-button {
		-webkit-app-region: no-drag;
		-webkit-user-select: none;
		user-select: none;
		margin-left: 5px;
		margin-right: 5px;
		@include fluid-type($min_width, $max_width, $min_font, $max_font);
	}
		
	.spacer {
		flex: auto;
	}

}