<div class="loading" *ngIf="getDataService().isLoading">
  <app-loader></app-loader>
</div>

<div *ngIf="!getDataService().isLoading" class="container" fxLayout="column" fxLayoutAlign="space-evenly stretch">

	<div fxLayout="row" fxLayoutGap="45px">

		<mat-tab-group fxFlex="100" [selectedIndex]="getDataService().selectedTab">

			<mat-tab label="Pay">
				<form [formGroup]="pay" (ngSubmit)="submit()">
					<p class="description">Pay from your wallets.</p>
					<div fxLayout="row">
						<div class="content expansion-panel" fxFlex fxLayout="column" fxLayoutAlign="start stretch">
							<mat-accordion>
								<mat-expansion-panel id="panel" [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
									<mat-expansion-panel-header>
										<mat-panel-title>
											<span fxFlex>{{ 'PAGES.PAY.HEADINGS.SENDER' | translate }}</span>
										</mat-panel-title>
									</mat-expansion-panel-header>
									<mat-panel-description>
										<div class="from" fxFlex fxLayout="column">
											<div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
												<div fxFlex fxLayout="column" fxFlex="80">
													<div class="subheading">Please select a wallet to send from and the desired amount to pay.</div>
												</div>
												<div class="balance" fxFlex="30">
													<div class="available">Available</div>
													<div class="amount">
														<span>{{getDataService().balance}}</span>
														<span class="symbol"> CCX</span>
													</div>
												</div>
											</div>
											<div fxFlex fxLayout="row" fxLayoutAlign="start stretch">
												<div class="form-fields" fxFlex="40">
													<mat-form-field fxFlex appearance="fill">
														<mat-label>From Wallet</mat-label>
														<span matPrefix>
															<mat-icon svgIcon="account_balance_wallet"></mat-icon>
														</span>
														<mat-select #wallet [(value)]="getDataService().selectedWallet" (selectionChange)="getHelperService().selectedWallet($event.value)" formControlName="walletFormControl">
															<mat-option [value]="item.key" *ngFor="let item of getDataService().wallets | keyvalue">
																{{ (item.key.length > 7) ? (item.key | slice:0:7) +'...':(item.key) }}{{ (item.key | slice:-7) }}
															</mat-option>
														</mat-select>
														<mat-hint>Select one of your wallets</mat-hint>
														<mat-error *ngIf="transfer.controls.walletFormControl.hasError('required')">
															Wallet selection is <strong>required</strong>
														</mat-error>
														<mat-error *ngIf="transfer.controls.walletFormControl.hasError('ValidateWallets')">
															<strong>From</strong> and <strong>To</strong> addresses cannot be the same.
														</mat-error>
													</mat-form-field>
												</div>
												<div class="form-fields" fxFlex="30">
													<mat-form-field fxFlex appearance="fill">
														<mat-label>Amount</mat-label>
														<input matInput #amount type="number" formControlName="amountFormControl">
														<span matSuffix>CCX</span>
														<mat-error *ngIf="transfer.controls.amountFormControl.hasError('required')">
															Amount is <strong>required</strong>
														</mat-error>
														<mat-error *ngIf="transfer.controls.amountFormControl.hasError('pattern')">
															Amount is <strong>not a valid</strong> number
														</mat-error>
													</mat-form-field>
												</div>
												<div class="buttons" fxFlex="30">
													<div fxLayout="row" fxFill fxLayoutGap="10px">
														<button mat-stroked-button aria-hidden="false" aria-label="Add 25% of balance" matTooltip="Add 25% of balance" matTooltipPosition="below" matTooltipClass="custom-tooltip" type="button" (click)="setAmount(25)">25%</button>
														<button mat-stroked-button aria-hidden="false" aria-label="Add 50% of balance" matTooltip="Add 50% of balance" matTooltipPosition="below" matTooltipClass="custom-tooltip" type="button" (click)="setAmount(50)">50%</button>
														<button mat-stroked-button aria-hidden="false" aria-label="Add 100% of balance" matTooltip="Add 100% of balance" matTooltipPosition="below" matTooltipClass="custom-tooltip" type="button" (click)="setAmount(100)">Max</button>
													</div>
												</div>
											</div>
										</div>
									</mat-panel-description>
									<mat-action-row>
										<button class="triggers" mat-button color="primary" type="button" (click)="nextStep()">Next</button>
									</mat-action-row>
								</mat-expansion-panel>
								<mat-expansion-panel id="panel" [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
									<mat-expansion-panel-header>
										<mat-panel-title>
											<span fxFlex>{{ 'PAGES.PAY.HEADINGS.RECIPIENT' | translate }}</span>
										</mat-panel-title>
									</mat-expansion-panel-header>
									<mat-panel-description>
										<div class="destination" fxFlex fxLayout="column">
											<div fxFlex fxLayout="row" fxLayoutAlign="start">
												<div fxFlex="100" fxLayout="column" fxLayoutAlign="start">
													<div class="notice">
														Please ensure that the Address and the Payment ID (if required) are correct before sending.<br />
														Please be aware that funds sent to the <strong class="warn">wrong address</strong> or to an exchange <strong class="warn">without a valid Payment ID</strong> may be <strong class="warn">lost</strong> and not recoverable.
													</div>
												</div>
											</div>
											<div fxLayout="row" fxFlex fxLayoutAlign="start stretch" fxLayoutGap="15px">
												<div class="form-fields" fxFlex="80" fxLayout="column" fxLayoutAlign="start" fxLayoutGap="24px">
													<mat-form-field hintLabel="98 characters" appearance="fill">
														<mat-label>Address</mat-label>
														<input matInput #address type="text" maxlength="98" placeholder="CCX Address" formControlName="toaddressFormControl">
														<mat-icon class="icon-button" matSuffix svgIcon="contacts" matTooltip="Select from contacts" matTooltipPosition="below" matTooltipClass="custom-tooltip" routerLink="/contacts"></mat-icon>
														<mat-hint align="end">{{address.value.length}} / 98</mat-hint>
														<mat-error *ngIf="pay.controls.toaddressFormControl.hasError('required')">
															Address selection is <strong>required</strong>
														</mat-error>
														<mat-error *ngIf="pay.controls.toaddressFormControl.hasError('match')">
															<strong>From</strong> and <strong>To</strong> addresses cannot be the same.
														</mat-error>
														<mat-error *ngIf="pay.controls.toaddressFormControl.hasError('minlength')">
															Address must be <strong>98 characters</strong>
														</mat-error>
													</mat-form-field>
													<mat-form-field hintLabel="35 characters" appearance="fill">
														<mat-label>Payment ID (Optional)</mat-label>
														<input matInput #payid type="text" maxlength="35" placeholder="Payment ID" formControlName="paymentidFormControl">
														<mat-hint align="end">{{payid.value.length}} / 35</mat-hint>
														<mat-error *ngIf="pay.controls.paymentidFormControl.hasError('minlength')">
															Address must be <strong>35 characters</strong>
														</mat-error>
													</mat-form-field>
												</div>
												<div class="form-fields" fxFlex="40" fxLayout="column" fxLayoutAlign="start" fxLayoutGap="15px">
													<mat-form-field hintLabel="Max 260 characters" appearance="fill">
														<mat-label>Message (Optional)</mat-label>
														<textarea rows="7" matInput #message type="text" maxlength="260" placeholder="Message" formControlName="messageFormControl"></textarea>
														<mat-hint align="end">{{message.value.length}} / 260</mat-hint>
													</mat-form-field>
												</div>
											</div>
										</div>
									</mat-panel-description>
									<mat-action-row>
										<button class="triggers" mat-button type="button" (click)="prevStep()">Previous</button>
										<button class="triggers" mat-button color="primary" type="submit">Review</button>
									</mat-action-row>
								</mat-expansion-panel>
							</mat-accordion>
						</div>
					</div>
				</form>
			</mat-tab>

			<mat-tab label="Transfer">
				<form [formGroup]="transfer" (ngSubmit)="submit()">
					<p class="description">Transfer between your wallets.</p>
					<div fxLayout="row">
						<div class="content expansion-panel" fxFlex fxLayout="column" fxLayoutAlign="start stretch">
							<mat-accordion>
								<mat-expansion-panel id="panel" [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
									<mat-expansion-panel-header>
										<mat-panel-title>
											<span fxFlex>{{ 'PAGES.TRANSFER.HEADINGS.SENDER' | translate }}</span>
										</mat-panel-title>
									</mat-expansion-panel-header>
									<mat-panel-description>
										<div class="from" fxFlex fxLayout="column">
											<div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
												<div fxFlex fxLayout="column" fxFlex="80">
													<div class="subheading">Please select the wallet you want the funds transfered from.</div>
												</div>
												<div class="balance" fxFlex="30">
													<div class="available">Available</div>
													<div class="amount">
														<span>{{getDataService().balance}}</span>
														<span class="symbol"> CCX</span>
													</div>
												</div>
											</div>
											<div fxFlex fxLayout="row" fxLayoutAlign="start stretch">
												<div class="form-fields" fxFlex="40">
													<mat-form-field fxFlex appearance="fill">
														<mat-label>From Wallet</mat-label>
														<span matPrefix>
															<mat-icon svgIcon="account_balance_wallet"></mat-icon>
														</span>
														<mat-select #wallet [(value)]="getDataService().selectedWallet" (selectionChange)="getHelperService().selectedWallet($event.value)" formControlName="walletFormControl">
															<mat-option [value]="item.key" *ngFor="let item of getDataService().wallets | keyvalue">
																{{ (item.key.length > 7) ? (item.key | slice:0:7) +'...':(item.key) }}{{ (item.key | slice:-7) }}
															</mat-option>
														</mat-select>
														<mat-hint>Select one of your wallets</mat-hint>
														<mat-error *ngIf="transfer.controls.walletFormControl.hasError('required')">
															Wallet selection is <strong>required</strong>
														</mat-error>
														<mat-error *ngIf="transfer.controls.walletFormControl.hasError('ValidateWallets')">
															<strong>From</strong> and <strong>To</strong> addresses cannot be the same.
														</mat-error>
													</mat-form-field>
												</div>
												<div class="form-fields" fxFlex="30">
													<mat-form-field fxFlex appearance="fill">
														<mat-label>Amount</mat-label>
														<input matInput #amount type="number" formControlName="amountFormControl">
														<span matSuffix>CCX</span>
														<mat-error *ngIf="transfer.controls.amountFormControl.hasError('required')">
															Amount is <strong>required</strong>
														</mat-error>
														<mat-error *ngIf="transfer.controls.amountFormControl.hasError('pattern')">
															Amount is <strong>not a valid</strong> number
														</mat-error>
													</mat-form-field>
												</div>
												<div class="buttons" fxFlex="30">
													<div fxLayout="row" fxFill fxLayoutGap="10px">
														<button mat-stroked-button aria-hidden="false" aria-label="Add 25% of balance" matTooltip="Add 25% of balance" matTooltipPosition="below" matTooltipClass="custom-tooltip" type="button" (click)="setAmount(25)">25%</button>
														<button mat-stroked-button aria-hidden="false" aria-label="Add 50% of balance" matTooltip="Add 50% of balance" matTooltipPosition="below" matTooltipClass="custom-tooltip" type="button" (click)="setAmount(50)">50%</button>
														<button mat-stroked-button aria-hidden="false" aria-label="Add 100% of balance" matTooltip="Add 100% of balance" matTooltipPosition="below" matTooltipClass="custom-tooltip" type="button" (click)="setAmount(100)">Max</button>
													</div>
												</div>
											</div>
										</div>
									</mat-panel-description>
									<mat-action-row>
										<button class="triggers" mat-button type="button" (click)="nextStep()">Next</button>
									</mat-action-row>
								</mat-expansion-panel>
								<mat-expansion-panel id="panel" [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
									<mat-expansion-panel-header>
										<mat-panel-title>
											<span fxFlex>{{ 'PAGES.TRANSFER.HEADINGS.RECIPIENT' | translate }}</span>
										</mat-panel-title>
									</mat-expansion-panel-header>
									<mat-panel-description>
										<div class="from" fxFlex fxLayout="column">
											<div fxFlex fxLayout="row" fxLayoutAlign="start">
												<div fxFlex="80" fxLayout="column" fxLayoutAlign="start">
													<div class="subheading">Please select the wallet you want to funds deposited to.</div>
												</div>
												<div class="balance" fxFlex="30">
													<div class="available">Balance</div>
													<div class="amount">
														<span>{{getDataService().toBalance}}</span>
														<span class="symbol"> CCX</span>
													</div>
												</div>
											</div>
											<div fxLayout="row" fxFlex fxLayoutAlign="start stretch" fxLayoutGap="5px">
												<div class="form-fields" fxFlex="40" fxLayout="column">
													<mat-form-field fxFlex appearance="fill">
														<mat-label>To Wallet</mat-label>
														<span matPrefix>
															<mat-icon svgIcon="account_balance_wallet"></mat-icon>
														</span>
														<mat-select #address [(value)]="getDataService().todWallet" (selectionChange)="getHelperService().toWallet($event.value)" formControlName="toaddressFormControl">
															<mat-option [value]="item.key" *ngFor="let item of getDataService().wallets | keyvalue">
																{{ (item.key.length > 7) ? (item.key | slice:0:7) +'...':(item.key) }}{{ (item.key | slice:-7) }}
															</mat-option>
														</mat-select>
														<mat-error *ngIf="transfer.controls.toaddressFormControl.hasError('required')">
															Wallet selection is <strong>required</strong>
														</mat-error>
														<mat-error *ngIf="transfer.controls.toaddressFormControl.hasError('match')">
															<strong>From</strong> and <strong>To</strong> wallets cannot be the same.
														</mat-error>
													</mat-form-field>
												</div>
												<div class="form-fields" fxFlex="60" fxLayout="column">
													<mat-form-field hintLabel="Max 260 characters" appearance="fill">
														<mat-label>Message (Optional)</mat-label>
														<textarea rows="1" matInput #message type="text" maxlength="260" placeholder="Message" formControlName="messageFormControl"></textarea>
														<mat-hint align="end">{{message.value.length}} / 260</mat-hint>
													</mat-form-field>
												</div>
											</div>
										</div>
									</mat-panel-description>
									<mat-action-row>
										<button class="triggers" mat-button type="button" (click)="prevStep()">Previous</button>
										<button class="triggers" mat-button color="primary" type="submit">Review</button>
									</mat-action-row>
								</mat-expansion-panel>
							</mat-accordion>
						</div>
					</div>
				</form>
			</mat-tab>

		</mat-tab-group>

	</div>

</div>