<div class="loading" *ngIf="isLoading">
  <app-loader [isLoading]="isLoading"></app-loader>
</div>
<div class="container" @enterAnimation>
  <div class="side" fxFlex="5" fxLayout="column" fxLayoutAlign="start start"></div>
  <div class="content expansion-panel" fxFlex fxLayout="column" fxLayoutAlign="start stretch">
    <h1 class="title">{{ 'PAGES.TRANSFER.TITLE' | translate }}</h1>
    <mat-accordion multi="true" [@.disabled]="disableAnimation">
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title fxFlex="50">
            <mat-icon svgIcon="flight_land" fxFlex="12"></mat-icon>
            <span fxFlex>{{ 'PAGES.TRANSFER.HEADINGS.OPTIONS' | translate }}</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>I'm visible because I am open</p>
      </mat-expansion-panel>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title fxFlex="50">
            <mat-icon svgIcon="flight_land" fxFlex="12"></mat-icon>
            <span fxFlex>{{ 'PAGES.TRANSFER.HEADINGS.RECIPIENT' | translate }}</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>I'm visible because I am open</p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div class="side" fxFlex="20" fxLayout="column" fxLayoutAlign="start start">
    <div class="button-menu" fxLayout="column">
      <button mat-button aria-hidden="false" aria-label="max">
        <mat-icon svgIcon="select_all"></mat-icon>
        <span>Max</span>
      </button>
      <button mat-button aria-hidden="false" aria-label="contacts">
        <mat-icon svgIcon="contacts"></mat-icon>
        <span>Contacts</span>
      </button>
      <button mat-button aria-hidden="false" aria-label="reset">
        <mat-icon svgIcon="cancel"></mat-icon>
        <span>Reset</span>
      </button>
      <button mat-button aria-hidden="false" aria-label="continue">
        <mat-icon svgIcon="check"></mat-icon>
        <span>Continue</span>
      </button>
    </div>
  </div>
</div>