.loading {
  position: absolute;
  height: 100%;
  width: 100vw;
  z-index: 1;
}

.container {
  display: flex;
  height: 100%;
  .heading {
    position: relative;
    float:left;
  }
  .title {
    font-size: 2rem;
    margin-top: -25px;
  }
  .content {
    padding-top: 55px;
    padding-bottom: 55px;
    padding-left: 45px;
    padding-right: 45px;
  }
  .side {
    padding-top: 125px;
    padding-bottom: 55px;
  }
}

.button-menu {
  .mat-button {
    border: 2px solid rgba($color: orange, $alpha: 0.5);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 0.8rem;
    text-align: justify;
    text-transform: uppercase;
    min-width: 145px;
    .button-name {
      width: 100%;
    }
    mat-icon {
      margin-right: 10px;
      min-width: 30px;
    }
  }
}
