.loading {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  height: 100%;
  margin-left: 3rem;
  margin-right: 3rem;
  .title {
    line-height: 1;
    margin-block-start: 0 !important;
    margin-block-end: 0 !important;
  }
  .subtitle {
    color: #888;
  }
  .language {
    .selected {
      background: darken(green, $amount: 15);
      border: 2px solid green !important
    }
    .cards {
      min-width: 10rem;
      border: solid 2px transparent;
      padding: 1rem 2rem 1rem 2rem;
      img {
        width: 50px;
        margin-bottom: 15px;
        border:2px solid #ccc;
        border-radius: 500px;
      }
      .icon {
        position: absolute;
        top: 2px;
        right: 5px;
        color: #ddd;
      }
    }
    .cards:hover {
      border: 2px solid orange;
      transform: scale(1.05);
      cursor: pointer;
    }
  }
}