<div class="loading" *ngIf="isLoading">
  <app-loader [isLoading]="isLoading"></app-loader>
</div>

<div *ngIf="!isLoading" class="container" fxLayout="column" fxLayoutAlign="center stretch" fxLayoutGap="35px" @enterAnimation @stagger>
  <h1 class="title">{{ 'PAGES.SETTINGS.TITLE' | translate }}</h1>
  
  <div>
    <h4 class="subtitle">Language</h4>
    <div class="language" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="15px">
      <mat-card id="cards" class="cards" [class.selected]="currentLang=='en'" fxLayout="column" fxLayoutAlign="center center" (click)="useLanguage('en')">
        <mat-icon *ngIf="currentLang=='en'" class="icon" svgIcon="check" matTooltip="Current Language" aria-label="Current Language" matTooltipPosition="above" matTooltipClass="custom-tooltip"></mat-icon>
        <img src="./assets/images/eng.png">English
      </mat-card>
      <mat-card id="cards" class="cards" [class.selected]="currentLang=='sp'" fxLayout="column" fxLayoutAlign="center center" (click)="useLanguage('sp')">
        <mat-icon *ngIf="currentLang=='sp'" class="icon" svgIcon="check" matTooltip="Current Language" aria-label="Current Language" matTooltipPosition="above" matTooltipClass="custom-tooltip"></mat-icon>
        <img src="./assets/images/sp.png">Spanish
      </mat-card>
      <mat-card id="cards" class="cards" [class.selected]="currentLang=='ma'" fxLayout="column" fxLayoutAlign="center center" (click)="useLanguage('ma')">
        <mat-icon *ngIf="currentLang=='ma'" class="icon" svgIcon="check" matTooltip="Current Language" aria-label="Current Language" matTooltipPosition="above" matTooltipClass="custom-tooltip"></mat-icon>
        <img src="./assets/images/ch.png">Mandarin
      </mat-card>
      <mat-card id="cards" class="cards" [class.selected]="currentLang=='fr'"fxLayout="column" fxLayoutAlign="center center" (click)="useLanguage('fr')">
        <mat-icon *ngIf="currentLang=='fr'" class="icon" svgIcon="check" matTooltip="Current Language" aria-label="Current Language" matTooltipPosition="above" matTooltipClass="custom-tooltip"></mat-icon>
        <img src="./assets/images/fr.png">French
      </mat-card>
      <mat-card id="cards" class="cards" [class.selected]="currentLang=='hi'" fxLayout="column" fxLayoutAlign="center center" (click)="useLanguage('hi')">
        <mat-icon *ngIf="currentLang=='hi'" class="icon" svgIcon="check" matTooltip="Current Language" aria-label="Current Language" matTooltipPosition="above" matTooltipClass="custom-tooltip"></mat-icon>
        <img src="./assets/images/in.png">Hindi
      </mat-card>
    </div>
  </div>

</div>