.container {
	height: 100%;
	width: 80vw;
	margin-left: auto;
	margin-right: auto;

	.title {
		margin-bottom: 0;
	}

	.capitalize {
		text-transform: capitalize;
	}

	.uppercase {
		text-transform: uppercase;
	}

	.notsdm {
		color: rgba($color: lightgreen, $alpha: 0.8);
	}

	.sdm {
		color: rgba($color: red, $alpha: 0.8);
	}

	.button-control {
		text-align: right;

		button {
			margin-left: 10px;
			font-size: 0.7rem;
			border: 1px solid currentColor;
			text-transform: uppercase;
		}
	}

}
