<div class="loading" *ngIf="getDataService().isLoading">
  <app-loader></app-loader>
</div>

<div *ngIf="!getDataService().isLoading" class="container" fxLayout="column" fxLayoutAlign="space-evenly stretch" @staggerLeft @staggerDown>

  <div fxLayout="row" fxLayoutGap="25px">

		<div fxFlex="35">
      <h1 id="title" class="title">{{ 'PAGES.DASHBOARD.HEADINGS.Portfolio' | translate }}</h1>
      <mat-card id="cards" class="cards portfolio-card" fxLayout="column">
        <mat-card-header>
          <mat-card-title fxLayout="row" fxLayoutAlign="space-between stretch">
						<div>{{ 'PAGES.DASHBOARD.HEADINGS.Balance' | translate }}</div>
						<div class="spinner" fxLayoutGap="5px">
							<mat-spinner *ngIf="getDataService().isWalletLoading"></mat-spinner>
						</div>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content fxFlex="auto">
          <div class="balances" fxLayout="column" fxLayoutAlign="space-evenly stretch">
            <div class="balance" fxLayout="row" fxFlex="25" fxLayout="row" fxLayoutAlign="space-between stretch">
              <span class="st">{{ 'PAGES.DASHBOARD.TEXT.Total.Available' | translate }}</span>
              <span class="sb">{{getHelperService().formatAmount(getDataService().available, 1, 6) || 0}} <span class="ccx">CCX</span></span>
            </div>
            <div class="balance" fxLayout="row" fxFlex="25" fxLayout="row" fxLayoutAlign="space-between stretch">
              <span class="st">{{ 'PAGES.DASHBOARD.TEXT.Total.Pending' | translate }}</span>
              <span class="sb" [ngClass]="{'locked': (getDataService().pending != 0)}">{{getHelperService().formatAmount(getDataService().pending, 1, 6) || 0}} <span class="ccx">CCX</span></span>
            </div>
            <div class="balance" fxLayout="row" fxFlex="25" fxLayout="row" fxLayoutAlign="space-between stretch">
              <span class="st">{{ 'PAGES.DASHBOARD.TEXT.Total.Withdrawable' | translate }}</span>
              <span class="sb">{{getHelperService().formatAmount(getDataService().withdrawable, 1, 6) || 0}} <span class="ccx">CCX</span></span>
            </div>
          </div>
        </mat-card-content>
        <mat-card-footer>
          <mat-card-actions fxLayoutAlign="start center">
						<button mat-button aria-hidden="false" matTooltip="{{ 'PAGES.DASHBOARD.TEXT.Banking.Deposits' | translate }}" matTooltipPosition="below" matTooltipClass="custom-tooltip" (click)="getDialogService().openBankingDialog()">
              {{ 'PAGES.DASHBOARD.TEXT.Banking' | translate }}
            </button>
          </mat-card-actions>
        </mat-card-footer>
      </mat-card>
    </div>

		<div fxFlex="65">
			<h1 id="title" class="title">{{ 'PAGES.DASHBOARD.HEADINGS.Market' | translate }}</h1>
			<mat-card id="cards" class="cards chart-card">
				<mat-card-content>
					<div class="chart-wrapper">
						<canvas baseChart
							[datasets]="lineChartData"
							[labels]="lineChartLabels"
							[options]="lineChartOptions"
							[colors]="lineChartColors"
							[chartType]="lineChartType"
						>
						</canvas>
					</div>
				</mat-card-content>
			</mat-card>
		</div>

	</div>

	<div fxLayout="row" fxLayoutGap="45px">

    <div fxFlex="100">
      <h1 id="title" class="title">{{ 'PAGES.DASHBOARD.HEADINGS.Wallets' | translate }}</h1>
      <div class="walletRow" fxLayout="row" fxLayoutGap="25px">
        <mat-card id="cards" class="cards walletCard" fxFlex fxLayout="column" *ngFor="let item of getDataService().wallets | keyvalue">
          <mat-card-header>
            <mat-card-title fxLayout="row" fxLayoutAlign="space-between stretch">
              <div>
                {{ (item.key.length>7)? (item.key | slice:0:7)+'...':(item.key) }}{{(item.key | slice:-7)}}
              </div>
              <div class="icons" fxLayoutGap="0px">
                <button mat-button mat-icon-button matTooltip="{{ 'PAGES.DASHBOARD.TEXT.Scan.Code' | translate }}" matTooltipPosition="above" matTooltipClass="custom-tooltip" (click)="getDialogService().openQRCodeDialog(item.key)">
                  <mat-icon svgIcon="camera_enhance">{{ 'PAGES.DASHBOARD.TEXT.Code' | translate }}</mat-icon>
								</button>
								<button mat-button mat-icon-button matTooltip="{{ 'PAGES.DASHBOARD.TEXT.Export.Private.Keys' | translate }}" matTooltipPosition="above" matTooltipClass="custom-tooltip" (click)="getDialogService().openExportKeysDialog(item.key)">
                  <mat-icon svgIcon="lock_open">{{ 'PAGES.DASHBOARD.TEXT.Export.Keys' | translate }}</mat-icon>
                </button>
                <button mat-button mat-icon-button matTooltip="{{ 'PAGES.DASHBOARD.TEXT.Copy.Address' | translate }}" matTooltipPosition="above" matTooltipClass="custom-tooltip" (click)="getHelperService().copyToClipboard(item.key, 'Address Copied')">
                  <mat-icon svgIcon="assignment">{{ 'PAGES.DASHBOARD.TEXT.Copy' | translate }}</mat-icon>
                </button>
              </div>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content fxFlex="auto">
            <div class="balances" fxLayout="column" fxLayoutAlign="space-evenly stretch">
              <div class="balance" fxLayout="row" fxFlex="25" fxLayoutAlign="space-between stretch">
                <span class="st">{{ 'PAGES.DASHBOARD.TEXT.Available' | translate }}</span>
                <span class="sb">{{ getHelperService().formatAmount(item.value.total, 1, 6) }} <span class="ccx">CCX</span></span>
              </div>
              <div class="balance" fxLayout="row" fxFlex="25" fxLayoutAlign="space-between stretch">
                <span class="st">{{ 'PAGES.DASHBOARD.TEXT.Pending' | translate }}</span>
                <span class="sb" [ngClass]="{'locked': (item.value.locked != 0)}">{{ getHelperService().formatAmount(item.value.locked, 1, 6) }} <span class="ccx">CCX</span></span>
              </div>
              <div class="balance" fxLayout="row" fxFlex="25" fxLayoutAlign="space-between stretch">
                <span class="st">{{ 'PAGES.DASHBOARD.TEXT.Withdrawable' | translate }}</span>
                <span class="sb">{{ getHelperService().formatAmount(item.value.balance, 1, 6) }} <span class="ccx">CCX</span></span>
              </div>
            </div>
          </mat-card-content>
          <mat-card-footer>
            <mat-card-actions fxLayoutAlign="start center">
              <button mat-button matTooltip="{{ 'PAGES.DASHBOARD.TEXT.Pay.Someone' | translate }}" matTooltipPosition="below" matTooltipClass="custom-tooltip" (click)="getHelperService().transferFrom(item.key, 0)">
                {{ 'PAGES.DASHBOARD.TEXT.Pay' | translate }}
              </button>
              <button mat-button matTooltip="{{ 'PAGES.DASHBOARD.TEXT.Transfer.Between.Accounts' | translate }}" matTooltipPosition="below" matTooltipClass="custom-tooltip" (click)="getHelperService().transferFrom(item.key, 1)">
                {{ 'PAGES.DASHBOARD.TEXT.Transfer' | translate }}
              </button>
              <button mat-button color="warn" matTooltip="{{ 'PAGES.DASHBOARD.TEXT.Delete.Wallet' | translate }}" matTooltipPosition="below" matTooltipClass="custom-tooltip" (click)="getHelperService().deleteWallet(item.key, item.value.total)">
                {{ 'PAGES.DASHBOARD.TEXT.Remove' | translate }}
              </button>
            </mat-card-actions>
          </mat-card-footer>
				</mat-card>
        <div class="new walletCard" fxFlex fxLayout="column" *ngIf="getDataService().walletCount <= 2">
          <div fxFlex="auto" fxLayoutGap="15px" fxLayout="column" fxLayoutAlign="space-around center">
						<button id="button" mat-button matTooltip="{{ 'PAGES.DASHBOARD.TEXT.Generate.Wallet' | translate }}" matTooltipPosition="below" matTooltipClass="custom-tooltip" (click)="getHelperService().createWallet()">
							{{ 'PAGES.DASHBOARD.TEXT.Create.Wallet' | translate }}
						</button>
            <button id="button" mat-button matTooltip="{{ 'PAGES.DASHBOARD.TEXT.Import.Keys' | translate }}" matTooltipPosition="above" matTooltipClass="custom-tooltip" (click)="getDialogService().openImportKeysDialog()" [disabled]="true">
							{{ 'PAGES.DASHBOARD.TEXT.Import.Wallet' | translate }}
						</button>
          </div>
				</div>
				<div class="new walletCard" fxFlex fxLayout="column" *ngIf="getDataService().walletCount <= 1"></div>
      </div>
    </div>

  </div>

</div>