<div class="loading" *ngIf="isLoading">
  <app-loader [isLoading]="isLoading"></app-loader>
</div>
<div class="container" @enterAnimation>
  <div class="side" fxFlex="40" fxLayout="column" fxLayoutAlign="center stretch">
    <mat-card fxLayout="column">
      <mat-card-header>
        <mat-card-title>
          {{ 'PAGES.DASHBOARD.BALANCE' | translate }}
        </mat-card-title>
      </mat-card-header>
      <mat-card-content fxFlex="auto">
        Wallet Offline
      </mat-card-content>
      <mat-card-actions fxLayoutAlign="center center">
        <button mat-button aria-hidden="false" aria-label="refresh">
          <mat-icon>refresh</mat-icon>
          Refresh
        </button>
        <div fxFlex></div>
        <button mat-button aria-hidden="false" aria-label="trasnfer">
          <mat-icon>send</mat-icon>
          Send Coins
        </button>
      </mat-card-actions>
    </mat-card>
    <mat-card fxLayout="column">
      <mat-card-header>
        <mat-card-title>
          {{ 'PAGES.DASHBOARD.ADDRESS' | translate }}
        </mat-card-title>
      </mat-card-header>
      <mat-card-content fxFlex="auto">
        Wallet Offline
      </mat-card-content>
      <mat-card-footer>
        <mat-card-actions fxLayoutAlign="center center">
          <button mat-button aria-hidden="false" aria-label="copy">
            <mat-icon>content_copy</mat-icon>
            Copy
          </button>
          <div fxFlex></div>
          <button mat-button aria-hidden="false" aria-label="qr_code">
            <mat-icon>code</mat-icon>
            QR Code
          </button>
        </mat-card-actions>
      </mat-card-footer>
    </mat-card>
  </div>
  <div class="content" fxFlex>
    Content
  </div>
</div>