<div class="loading" *ngIf="this.helperService.isLoading">
  <app-loader [isLoading]="this.helperService.isLoading"></app-loader>
</div>

<div *ngIf="!this.helperService.isLoading" class="container" fxLayout="column" fxLayoutAlign="space-evenly stretch" @enterAnimation @stagger>

  <div fxLayout="row" fxLayoutGap="45px">

    <div fxFlex="30">
      <h1 class="title">{{ 'PAGES.DASHBOARD.PORTFOLIO' | translate }}</h1>
      <mat-card id="cards" class="cards" fxLayout="column">
        <mat-card-header>
          <mat-card-title>
            {{ 'PAGES.DASHBOARD.BALANCE' | translate }}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content fxFlex="auto">
          <div class="balances" fxLayout="column" fxLayoutAlign="space-evenly stretch">
            <div class="balance" fxLayout="row" fxFlex="25" fxLayout="row" fxLayoutAlign="space-between stretch">
              <span class="st">Available</span>
              <span class="sb">{{this.helperService.portfolio?.available || 0}} <span class="ccx">CCX</span></span>
            </div>
            <div class="balance" fxLayout="row" fxFlex="25" fxLayout="row" fxLayoutAlign="space-between stretch">
              <span class="st">Pending</span>
              <span class="sb">{{this.helperService.portfolio?.pending || 0}} <span class="ccx">CCX</span></span>
            </div>
            <div class="balance" fxLayout="row" fxFlex="25" fxLayout="row" fxLayoutAlign="space-between stretch">
              <span class="st">Withdrawable</span>
              <span class="sb">{{this.helperService.portfolio?.withdrawable || 0}} <span class="ccx">CCX</span></span>
            </div>
          </div>
        </mat-card-content>
        <mat-card-footer>
          <mat-card-actions fxLayoutAlign="space-between center">
            <button mat-button aria-hidden="false" aria-label="refresh" matTooltip="Refresh balances" aria-label="Refresh balances" matTooltipPosition="below" matTooltipClass="custom-tooltip" (click)="this.helperService.getWallets()">
              Refresh
            </button>
            <div class="spinner">
              <mat-spinner *ngIf="this.helperService.isWalletLoading"></mat-spinner>
            </div>
          </mat-card-actions>
        </mat-card-footer>
      </mat-card>
    </div>

    <div fxFlex="70">
      <h1 class="title">{{ 'PAGES.DASHBOARD.WALLETS' | translate }}</h1>
      <div fxLayout="row" fxLayoutGap="15px">
        <mat-card id="cards" class="cards" fxFlex fxLayout="column" *ngFor="let item of this.helperService.wallets | keyvalue | reverse">
          <mat-card-header>
            <mat-card-title fxLayout="row" fxLayoutAlign="space-between stretch">
              <div>
                {{ (item.key.length>7)? (item.key | slice:0:7)+'...':(item.key) }}{{(item.key | slice:-7)}}
                <!-- <span class="primary" *ngIf="item.value.default">(*)</span> -->
              </div>
              <div class="icons" fxLayoutGap="5px">
                <button mat-button mat-icon-button aria-hidden="false" aria-label="Scan QR code" matTooltip="Scan QR code" matTooltipPosition="above" matTooltipClass="custom-tooltip" (click)="this.helperService.openCodeDialog(item.key)">
                  <mat-icon svgIcon="camera_enhance">QR Code</mat-icon>
                </button>
                <button mat-button mat-icon-button aria-hidden="false" aria-label="Copy address" matTooltip="Copy address" matTooltipPosition="above" matTooltipClass="custom-tooltip" (click)="this.helperService.copyToClipboard(item.key)">
                  <mat-icon svgIcon="assignment">Copy</mat-icon>
                </button>
              </div>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content fxFlex="auto">
            <div class="balances" fxLayout="column" fxLayoutAlign="space-evenly stretch">
              <div class="balance" fxLayout="row" fxFlex="25" fxLayoutAlign="space-between stretch">
                <span class="st">Available</span>
                <span class="sb">{{ item.value.total }} <span class="ccx">CCX</span></span>
              </div>
              <div class="balance" fxLayout="row" fxFlex="25" fxLayoutAlign="space-between stretch">
                <span class="st">Pending</span>
                <span class="sb">{{ item.value.locked }} <span class="ccx">CCX</span></span>
              </div>
              <div class="balance" fxLayout="row" fxFlex="25" fxLayoutAlign="space-between stretch">
                <span class="st">Withdrawable</span>
                <span class="sb">{{ item.value.balance }} <span class="ccx">CCX</span></span>
              </div>
            </div>
          </mat-card-content>
          <mat-card-footer>
            <mat-card-actions fxLayoutAlign="start center">
              <button mat-button aria-hidden="false" aria-label="Transfer funds" matTooltip="Transfer funds"  matTooltipPosition="below" matTooltipClass="custom-tooltip" routerLink="/transfer">
                Transfer
              </button>
              <button mat-button aria-hidden="false" aria-label="Pay someone" matTooltip="Pay someone" matTooltipPosition="below" matTooltipClass="custom-tooltip" routerLink="/contacts">
                Pay
              </button>
              <button mat-button aria-hidden="false" aria-label="Export private keys" matTooltip="Export private Keys" matTooltipPosition="below" matTooltipClass="custom-tooltip" (click)="this.helperService.openKeysDialog(item.key)">
                Export
              </button>
              <button mat-button aria-hidden="false" aria-label="Delete wallet" matTooltip="Delete wallet" aria-label="Delete wallet" matTooltipPosition="below" matTooltipClass="custom-tooltip" *ngIf="!item.value.default">
                Remove
              </button>
            </mat-card-actions>
          </mat-card-footer>
        </mat-card>
      </div>
    </div>

  </div>

  <div fxLayout="column">
    <h1 class="title">{{ 'PAGES.DASHBOARD.MARKET' | translate }}</h1>
    <mat-card id="cards" class="cards chart-card">
      <mat-card-content>
        <div class="chart-wrapper">
          <canvas baseChart
            [datasets]="lineChartData" 
            [labels]="lineChartLabels" 
            [options]="lineChartOptions"
            [colors]="lineChartColors" 
            [chartType]="lineChartType" 
          >
          </canvas>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  
</div>