.loading {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  height: 100%;
  margin-left: 3rem;
  margin-right: 3rem;
  .title {
    line-height: 1;
    margin-block-start: 0 !important;
  }
  .mat-card {
    background: rgba(#393939, 0.8);
  }
  .mat-card-footer {
    border-top: 0.5px solid orange;
  }
  .mat-icon {
    cursor: pointer;
  }
  .balances {
    font-size: .85rem;
    height: 100%;
    .st {
      color: orange;
    }
    .sb {
      color: #c4c4c4;
    }
    .ccx {
      color: #fff;
    }
  }
  .address {
    font-size: 0.85rem;
    word-wrap: break-word;
    text-align: center;
    color: #c4c4c4;
  }
  .details {
    padding: 15px;
    font-size: 0.9rem;
  }
}

.chart-wrapper {
  display: flex; 
  height: 11rem;
  width: 100%;
}

.custom-tooltip { 
  font-size: 0.6rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border: 0.5px solid rgba(orange, 0.5);
}