.loading {
  position: absolute;
  height: 100%;
  width: 100vw;
  z-index: 1;
}

.container {
  display: flex;
  overflow: hidden;
  margin: 2rem;
  .title {
    line-height: 1;
  }
  .first {
    margin-top: -1.5rem;
  }
  .mat-card {
    background: rgba(#393939, 0.8);
  }
  .mat-card-footer {
    border-top: 1px solid orange;
  }
  .balances {
    font-size: .85rem;
    height: 100%;
    .st {
      color: orange;
    }
    .sb {
      color: #c4c4c4;
    }
    .ccx {
      color: #fff;
    }
  }
  .address {
    font-size: 0.85rem;
    word-wrap: break-word;
    text-align: center;
    color: #c4c4c4;
  }
  .details {
    padding: 15px;
    font-size: 0.9rem;
  }
}