.content {
	overflow: hidden;

	.mat-dialog-content {
		margin: 0;
		padding: 0;
	}

	.title {
		font-size: 1.4rem;
		color: orange;
		line-height: 1;
		margin-block-start: 0 !important;
	}

	.subtitle {
		margin-top: -5px;
		font-size: 0.8rem;
		color: white;
	}

	.actions {
		margin-top: 10px;

		.mat-stroked-button {
			font-size: 1rem;
			padding-top: 0.4rem;
			padding-bottom: 0.4rem;
			padding-left: 1.1rem;
			padding-right: 1.1rem;
		}
	}

	.error {
		font-size: 0.6rem;
		text-align: center;
		line-height: 2;
		border: 1px solid rgba(255, 0, 0, 0.5);
		border-radius: 5px;
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
		padding-left: 5px;
		padding-left: 5px;
		margin-bottom: 25px;
	}

	.success {
		font-size: 0.6rem;
		text-align: center;
		line-height: 2;
		border: 1px solid rgba(0, 255, 0, 0.5);
		border-radius: 5px;
		padding-top: .5rem;
		padding-bottom: .5rem;
		margin-bottom: 25px;
	}

	.progress {
		margin-bottom: 25px;
	}

	.loading {
		margin-top: 5px;
		margin-bottom: 15px;
	}

	.keys {
		margin-top: 15px;
		overflow: hidden;

		.mat-form-field {
			font-size: 1rem;
		}

	}

}
