<mat-toolbar color="primary">
	<span class="title">
		<mat-icon svgIcon="wifi_off" class="left offline" *ngIf="!isWalletOnline"></mat-icon>
		<mat-icon svgIcon="wifi" class="left online" *ngIf="isWalletOnline"></mat-icon>
		<span>
			{{ 'PAGES.FOOTER.WALLET' | translate }}: 
			{{ ( isWalletOnline ? 'PAGES.FOOTER.ONLINE' : 'PAGES.FOOTER.OFFLINE' ) | translate }}
		</span>
	</span>
	<span class="spacer"></span>
	<section class="progress">
		<span *ngIf="isSynchronising"><mat-icon svgIcon="sync" class="unsynchronised"></mat-icon>Synchronising ({{syncPercentage}}%)</span>
    <span *ngIf="!isSynchronising"><mat-icon svgIcon="cloud_done" class="synchronised"></mat-icon>Synchronised ({{syncPercentage}}%)</span>
    <mat-progress-bar [color]="color" [mode]="mode" [value]="value" [bufferValue]="bufferValue"></mat-progress-bar>
  </section>
	<span class="spacer"></span>
	<span class="title">
		<span>
			{{ 'PAGES.FOOTER.NODE' | translate }}: 
			{{ ( isNodeOnline ? 'PAGES.FOOTER.ONLINE' : 'PAGES.FOOTER.OFFLINE' ) | translate }}
		</span>
		<mat-icon svgIcon="wifi_off" class="right offline" *ngIf="!isNodeOnline"></mat-icon>
		<mat-icon svgIcon="wifi" class="right online" *ngIf="isNodeOnline"></mat-icon>
	</span>
</mat-toolbar>