<div class="loading" *ngIf="getDataService().isLoading">
  <app-loader [isLoading]="getDataService().isLoading"></app-loader>
</div>

<div *ngIf="!getDataService().isLoading" class="container" fxLayout="column" fxLayoutAlign="center stretch" @stagger @staggerDown>

	<div class="welcome" *ngIf="!isSignIn && !isSignUp && !hasSignedUp" @enterAnimation>
		<div class="welcome" fxLayout="column">
			<h1 class="title" fxFlexAlign="start">{{ 'PAGES.LOGIN.TITLE' | translate }}</h1>
			<h2 class="subtitle" fxFlexAlign="end">{{ 'PAGES.LOGIN.SUBTITLE1' | translate }} <span class="sub2">{{ 'PAGES.LOGIN.SUBTITLE2' | translate }}</span></h2>
		</div>

		<div class="start" fxLayout="row" fxLayoutAlign="space-between center">
			<button mat-stroked-button class="primary" color="primary" (click)="isSignIn=true" [disabled]="!getDataService().isLoggedIn">Sign In</button>
			<button mat-stroked-button class="primary" color="primary" (click)="isSignUp=true" [disabled]="!getDataService().isLoggedIn">Sign Up</button>
			<button mat-stroked-button class="warn" color="warn" (click)="logout()" [disabled]="getDataService().isLoggedIn">Logout</button>
		</div>
	</div>

	<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="45px" *ngIf="isSignIn" @enterAnimation>
		<div id="cards" fxLayout="column" class="login" fxLayoutAlign="center">
      <form [formGroup]="signin" (ngSubmit)="submit()">
        <p>Sign in to continue.</p>
        <p>
          <mat-form-field fxFill appearance="fill" hintLabel="Your email address">
            <mat-label>Email Address</mat-label>
            <input type="email" matInput placeholder="you@youremail.com" formControlName="emailFormControl">
            <mat-error *ngIf="signin.controls.emailFormControl.hasError('email') && !signin.controls.emailFormControl.hasError('required')">
              Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="signin.controls.emailFormControl.hasError('required')">
              Email address is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field fxFill appearance="fill" hintLabel="Your password">
            <mat-label>Password</mat-label>
            <input type="password" matInput placeholder="password" formControlName="passwordFormControl">
            <mat-error *ngIf="signin.controls.passwordFormControl.hasError('required')">
              Password is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field fxFill appearance="fill" hintLabel="6 Numbers">
            <mat-label>2FA Code (Optional)</mat-label>
            <input #twofa matInput minlength="6" maxlength="6" placeholder="00000" formControlName="twofaFormControl">
            <mat-hint align="end">{{twofa.value?.length || 0}}/6</mat-hint>
            <mat-error *ngIf="signin.controls.twofaFormControl.hasError('minlength') || signin.controls.twofaFormControl.hasError('maxlength')">
              2FA code should be <strong>6 numbers</strong>
            </mat-error>
            <mat-error *ngIf="signin.controls.twofaFormControl.hasError('pattern')">
              2FA code should be <strong>only numbers</strong>
            </mat-error>
          </mat-form-field>
        </p>
        <mat-progress-bar mode="query" *ngIf="getDataService().isFormLoading"></mat-progress-bar>
        <p *ngIf="getDataService().error" class="error">
          {{ getDataService().error }}
        </p>
        <p *ngIf="getDataService().success" class="success">
          {{ getDataService().success }}
        </p>
        <p class="actions" fxLayout="row" fxLayoutGap="15px">
					<button mat-stroked-button color="warn" fxFlex="50" (click)="this.signin.reset()">Clear</button>
          <button mat-stroked-button color="primary" fxFlex="50" type="submit(signin)">Login</button>
				</p>
			</form>
			<div class="other" fxLayout="column" fxLayoutAlign="space-between center">
				<div class="links" (click)="isSignIn=false;isSignUp=true;">New User? Sign Up</div>
				<div class="links" (click)="null">Forgot Passsword? Reset Now</div>
				<div class="links" (click)="isSignIn=false;">Go Back</div>
			</div>
		</div>
	</div>

	<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="45px" *ngIf="isSignUp && !hasSignedUp" @enterAnimation>
		<div id="cards" fxLayout="column" class="login" fxLayoutAlign="center">
      <form [formGroup]="signup" (ngSubmit)="submit()">
				<p>Sign up to continue.</p>
				<p>
          <mat-form-field fxFill appearance="fill" hintLabel="Your username">
            <mat-label>Username</mat-label>
            <input matInput minlength="6" maxlength="24" formControlName="usernameFormControl">
            <mat-error *ngIf="signup.controls.usernameFormControl.hasError('minlength') || signup.controls.usernameFormControl.hasError('maxlength')">
              Username should be at least <strong>6 characters</strong>
						</mat-error>
						<mat-error *ngIf="signup.controls.usernameFormControl.hasError('required')">
              Uername is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field fxFill appearance="fill" hintLabel="Your email address">
            <mat-label>Email Address</mat-label>
            <input type="email" matInput placeholder="you@youremail.com" formControlName="emailFormControl">
            <mat-error *ngIf="signup.controls.emailFormControl.hasError('email') && !signup.controls.emailFormControl.hasError('required')">
              Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="signup.controls.emailFormControl.hasError('required')">
              Email address is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field fxFill appearance="fill" hintLabel="Your password">
            <mat-label>Password</mat-label>
            <input type="password" matInput placeholder="password" formControlName="passwordFormControl">
            <mat-error *ngIf="signup.controls.passwordFormControl.hasError('required')">
              Password is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </p>
        <mat-progress-bar mode="query" *ngIf="getDataService().isFormLoading"></mat-progress-bar>
        <p *ngIf="getDataService().error" class="error">
          {{ getDataService().error }}
        </p>
        <p *ngIf="getDataService().success" class="success">
          {{ getDataService().success }}
        </p>
        <p class="actions" fxLayout="row" fxLayoutGap="15px">
					<button mat-stroked-button color="warn" fxFlex="50" (click)="this.signup.reset()">Clear</button>
					<button mat-stroked-button color="primary" fxFlex="50" type="submit(signup)">Signup</button>
        </p>
			</form>
			<div class="other" fxLayout="column" fxLayoutAlign="space-between center">
				<div class="links" (click)="isSignIn=true;isSignUp=false;">Existing User? Sign In</div>
				<div class="links" (click)="isSignUp=false;">Go Back</div>
			</div>
		</div>
	</div>

	<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="15px" *ngIf="hasSignedUp" @enterAnimation>
		<div id="cards" fxLayout="column" class="activate" fxLayoutAlign="center">
			<p class="checkemail">Please check your email.</p>
			<p>We've just sent you a link to activate your account.</p>
			<p>Please follow the link in your email to activate your account then click below to continue.</p>
			<button mat-stroked-button color="primary" (click)="isSignIn=true;isSignUp=false;hasSignedUp=false;">Continue to Sign In</button>
		</div>
	</div>

</div>