<div class="content" *ngIf="!this.helperService.haveKeys">
	<h1 mat-dialog-title>Export Keys</h1>
	<h2 class="subtitle">Enter you 2FA code to continue</h2>
	<div class="twofa" mat-dialog-content>
		<form [formGroup]="form" (ngSubmit)="submit()" fxLayout="column" fxLayoutAlign="space-between stretch">
			<p>
				<mat-form-field fxFill hintLabel="6 Numbers" appearance="fill">
					<mat-label>2FA Code</mat-label>
					<input #twofa matInput minlength="6" maxlength="6" placeholder="00000" formControlName="twofaFormControl">
					<mat-hint align="end">{{twofa.value?.length || 0}}/6</mat-hint>
					<mat-error *ngIf="form.controls.twofaFormControl.hasError('minlength') || form.controls.twofaFormControl.hasError('maxlength')">
						2FA code should be <strong>6 numbers</strong>
					</mat-error>
					<mat-error *ngIf="form.controls.twofaFormControl.hasError('pattern')">
						2FA code should be <strong>only numbers</strong>
					</mat-error>
					<mat-error *ngIf="form.controls.twofaFormControl.hasError('required')">
						2FA Code is <strong>required</strong>
					</mat-error>
				</mat-form-field>
			</p>
			<div *ngIf="this.helperService.isFormLoading" class="progress"><mat-progress-bar mode="query"></mat-progress-bar></div>
			<div *ngIf="this.helperService.error" class="error">{{ this.helperService.error }}</div>
			<div *ngIf="this.helperService.success" class="success">{{ this.helperService.success }}</div>
			<div class="actions" fxLayout="row" fxLayoutGap="15px">
				<button mat-stroked-button color="primary" fxFlex="50" type="submit">Submit</button>
				<button mat-stroked-button color="warn" fxFlex="50" (click)="this.form.reset()">Reset</button>
			</div>
		</form>
	</div>
</div>

<div class="content" *ngIf="this.helperService.haveKeys">
	<h1 mat-dialog-title>Your Private Keys</h1>
	<div class="keys" mat-dialog-content>
		<mat-form-field class="keys" *ngFor="let item of this.helperService.keys | keyvalue | reverse" fxLayout="column" fxLayoutAlign="space-between stretch">
			<mat-label>{{ item.key }}</mat-label>
			<input matInput type="text" [value]="item.value">
			<button mat-button matSuffix mat-icon-button aria-label="Copy" (click)="this.helperService.copyToClipboard(item.value, 'Key Copied')" matTooltip="Copy Key" aria-label="Copy Key" matTooltipPosition="above" matTooltipClass="custom-tooltip">
				<mat-icon svgIcon="assignment"></mat-icon>
			</button>
		</mat-form-field>
	</div>
</div>