<div class="content">
	<h1 mat-dialog-title>Import Wallet</h1>
	<h2 class="subtitle">Enter private spend key to continue</h2>
	<div class="PrivateSpendKey" mat-dialog-content>
		<form [formGroup]="form" (ngSubmit)="submit()" fxLayout="column" fxLayoutAlign="space-between stretch">
			<p>
				<mat-form-field fxFill appearance="fill">
					<mat-label>Private Spend Key</mat-label>
					<input #PrivateSpendKey matInput formControlName="spendKeyFormControl">
					<mat-error *ngIf="form.controls.spendKeyFormControl.hasError('required')">
						Private Spend Key is <strong>required</strong>
					</mat-error>
				</mat-form-field>
			</p>
			<div *ngIf="this.helperService.isFormLoading" class="progress"><mat-progress-bar mode="query"></mat-progress-bar></div>
			<div *ngIf="this.helperService.error" class="error">{{ this.helperService.error }}</div>
			<div *ngIf="this.helperService.success" class="success">{{ this.helperService.success }}</div>
			<div class="actions" fxLayout="row" fxLayoutGap="15px">
				<button mat-stroked-button color="primary" fxFlex="50" type="submit">Submit</button>
				<button mat-stroked-button color="warn" fxFlex="50" (click)="this.form.reset()">Reset</button>
			</div>
		</form>
	</div>
</div>