.addContact {
  margin: 10px;
  .mat-dialog-title {
    font-size: 1.4rem;
    color: orange;
  }
  .subtitle {
    font-size: 0.8rem;
    color: white;
  }
  .mat-form-field {
    font-size: 0.7rem;
    width: 100%;
  }
}