.loading {
  width: 100%;
  height: 100%;
}

.container {
  margin-top: 55px;
  margin-left: 180px;
  margin-right: 180px;
  .title {
    margin-top: -25px;
    margin-bottom: 0;
    font-size: 2rem;
  }
}