// Imports
@use './scss/mixins' as *;
@use './scss/loading' as *;
@use './scss/cards' as *;
@use './scss/expansion-panel' as *;
@use './scss/tabs' as *;
@use './scss/snackbar' as *;
@use './scss/fields' as *;
@use './scss/table' as *;
@use './scss/theme' as *;

// Mixin Variables
$min_width: 500px;
$max_width: 1920px;
$min_font: 11px;
$max_font: 28px;

/* You can add global styles to this file, and also import other style files */
html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: "Poppins", Arial, Helvetica, sans-serif;
	@include fluid-type($min_width, $max_width, $min_font, $max_font);
	color: #fff;
}

.cdk-overlay-dark-backdrop {
	background: rgba(0, 0, 0, 0.70);
}

@media only screen and (max-width: 1919px) {
	body {
		border-radius: 10px;
	}
	.cdk-overlay-dark-backdrop {
		border-radius: 10px;
	}
}