// Import theming functions
@import '~@angular/material/theming';

.cards {

  .mat-card {
    height: 100%;
    margin: 10px;
    border: 1px solid rgba($color: orange, $alpha: 1);
    border-radius: 10px;
  }

  .mat-card-header {
    .mat-card-header-text {
      margin: 0;
    }
    .mat-card-header-text {
      width: 100%;
    }
    .mat-card-title {
      margin-bottom: 0px;
      padding-left: 10px;
      padding-right: 10px;
      font-size: 1.1rem;
    }
  }

  .mat-card-content {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
  }

  mat-card-footer {
    margin: 0 -16px -16px -16px;
    .mat-card-actions {
      margin: 0;
      padding: 0;
      background: rgba($color: grey, $alpha: 0.4);
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      .mat-button {
        margin: 0;
        padding-left: 20px;
        padding-right: 20px;
        height: 50px;
        font-size: 0.7rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .mat-icon {
          padding-right: 10px;
          vertical-align: sub;
          margin-bottom: -4px;
        }
        svg {
          overflow: visible;
        }
      }
    }
  }

}

