.mat-form-field-prefix {
	margin-right: 12px;
}

.mat-form-field-suffix {
	margin-left: 12px;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
	background-color: rgba(orange, 0.54) !important;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
	background-color: orange !important;
}