.loading {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.container {
	height: 100%;
	width: 85vw;
	margin-left: auto;
	margin-right: auto;

	.title {
		font-size: 1.6rem;
		line-height: 1;
		margin-block-start: 0 !important;
	}

	.content {

		.form-fields, .buttons {
			padding: 12px;
		}

		.heading {
			font-size: 1rem;
			padding-left: 12.5px;
			padding-top: 0.3rem;
			padding-bottom: 0.3rem;
			color: white;
		}

		.subheading {
			padding-left: 12.5px;
			padding-top: 0.3rem;
			padding-bottom: 0.5rem;
		}

		.balance {
			font-size: 0.75rem;
			text-align: right;
			padding-right: 12.5px;
			padding-top: 0.6rem;
			padding-bottom: 0rem;

			.available {
				color: orange;
				line-height: 1.5;
			}

			.amount {
				font-size: 0.65rem;
				line-height: 1.5;
			}

			.symbol {
				color: white;
			}
		}

		.mat-form-field-prefix {
			margin-right: 12px;
		}

		.mat-form-field-suffix {
			margin-left: 12px;
		}

		.icon-button {
			cursor: pointer;
			:hover {
				color: orange;
			}
		}

		.triggers {
			font-size: 0.8rem;
			padding-top: 0.3rem;
			padding-bottom: 0.3rem;
			padding-left: 1rem;
			padding-right: 1rem;
		}

		.mat-stroked-button {
			width: 100%;
			height: 2.58rem;
			margin-bottom: 0.9rem;
			font-size: 0.8rem;
		}

	}

	.side {

		.button-menu {
			.mat-stroked-button {
				border: 1px solid currentColor;
				padding-top: 5px;
				padding-bottom: 5px;
				padding-left: 25px;
				padding-right: 25px;
				margin-top: 5px;
				margin-bottom: 5px;
				font-size: 0.8rem;
				text-align: center;
				text-transform: uppercase;
				min-width: 150px;

				.button-name {
					width: 100%;
				}

				mat-icon {
					margin-right: 10px;
					min-width: 30px;
				}
			}
		}
	}

}