.loading {
  width: 100%;
  height: 100%;
}

.container {
  height: 100%;
  .title {
    color: white;
  }
  .subtitle {
    color: #888;
  }

  .pin {
    transform: scale(0.5);
    button {
      background-color: transparent;
      border: 2px solid orange;
      margin-left: 15px;
      margin-right: 15px;
      margin-bottom: 15px;
    }
  }

  .login {
    background-color: rgba(#393939, 0.9);
    border-radius: 5px;
    min-width: 32vw;
    min-height: 50vh;
    padding-top: 0rem;
    padding-bottom: .25rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border: 1px solid orange;
    .mat-form-field {
      font-size: 0.6rem;
    }
    .error {
      height: 25px;
      width: 100%;
      font-size: 0.6rem;
      text-align: center;
      line-height: 2;
      border: 1px solid rgba(255, 0, 0, 0.5);
      border-radius: 5px;
      padding-top: .5rem;
      padding-bottom: .5rem;
      margin-bottom: -15px;
    }
    .success {
      height: 25px;
      width: 100%;
      font-size: 0.6rem;
      text-align: center;
      line-height: 2;
      border: 1px solid rgba(0, 255, 0, 0.5);
      border-radius: 5px;
      padding-top: .5rem;
      padding-bottom: .5rem;
      margin-bottom: -15px;
    }
    .actions {
      button {
        font-size: .85rem;
        padding: .4rem;
        margin-top: 10px;
      }
    }
  }

  .lockbox {
    background-color: rgba(#393939, 0.9);
    border-radius: 10px;
    min-width: 35vw;
    min-height: 50vh;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    button {
      color: #fff;
      font-size: 1.1rem;
      background-color: transparent;
      border: 2px solid rgba(orange, 0.8);
    }
    .hidden {
      border: none;
      color: transparent;
      box-shadow: none;
      mat-icon {
        color: #ddd;
      }
    }
    .split {
      padding: 10px;
      margin-top: 10px;
      margin-bottom: 10px;      
    }
  }
}