.loading {
  width: 100%;
  height: 100%;
}

.container {
  height: 100%;
  .title {
    color: white;
  }
  .subtitle {
    color: #888;
  }
  .mat-form-field {
    font-size: 0.7rem;
  }
  .actions {
    button {
      padding: 0.35rem;
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }
  .pin {
    transform: scale(0.5);
    button {
      background-color: transparent;
      border: 2px solid orange;
      margin-left: 15px;
      margin-right: 15px;
      margin-bottom: 15px;
    }
  }
  .lockbox {
    background-color: rgba(#393939, 0.9);
    border-radius: 10px;
    min-width: 35vw;
    min-height: 50vh;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    button {
      color: #fff;
      font-size: 1.1rem;
      background-color: transparent;
      border: 2px solid rgba(orange, 0.8);
    }
    .hidden {
      border: none;
      color: transparent;
      box-shadow: none;
      mat-icon {
        color: #ddd;
      }
    }
    .split {
      padding: 10px;
      margin-top: 10px;
      margin-bottom: 10px;      
    }
  }
}